/*@import 'core/variables';
@import 'core/reset';
@import 'components/code';
@import 'components/links';
@import 'layout/page';
@import 'layout/header';
@import 'layout/footer';
@import 'pages/index';*/

body{
    background-color: black;
}
.title_animesearch{
    color: white
}
.series{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: 20px;
}

// ESTILOS FAVORTIAS
.series_fav{
    border: 5px solid rgb(214, 132, 151);
    border-radius: 20px;
    background-color: black;
    display: flex;
    flex-direction: column;

    &_title{
        color: rgb(214, 132, 151);
        text-align: center;
        padding: 10px;
    }

}

.card_favorites{
    padding: 16px;
    margin: 16px;
    width: 200px;
    text-align: center;
    display: inline-block;
    vertical-align: top;
}

.card_img_favorites{
    max-width: 100%;
    height: auto;
 
}
.card_title_favorites{
    font-size: 18px;
    margin-top: 8px;
    color: #9d9d9d;
}




// ESTILOS RESULTADOS
.series_results{
    border: 5px solid rgb(206, 232, 235);
    border-radius: 20px;
    background-color: black;
    display: flex;
    flex-direction: column;
    

    &_title{
        color:rgb(206, 232, 235);
        text-align: center;
        padding: 10px;
    }
}

.card {
    padding: 16px;
    margin: 16px;
    width: 200px;
    text-align: center;
    display: inline-block;
    vertical-align: top;
}
.card_img {
    max-width: 100%;
    height: auto;
 
}
.card_title {
    font-size: 18px;
    margin-top: 8px;
    color: #9d9d9d;
}

.hidden{
    display: none;
}