/*@import 'core/variables';
@import 'core/reset';
@import 'components/code';
@import 'components/links';
@import 'layout/page';
@import 'layout/header';
@import 'layout/footer';
@import 'pages/index';*/

body{
    background-color: black;
}

// ESTILO FORMULARIO BUSQUEDA

header{
    text-align: center; 
    font-family: "Oswald", serif;
}
.title_animesearch{
    color: white;
}

.subtitle_animesearch{
    color: white;
    font-family: "Oswald", serif;
    font-weight: 100;
    text-align: center; 

}
.form_search{
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    gap: 20px; 
    padding: 20px;
    font-family: "Oswald", serif;
}
.input_search{
    max-width: 400px; 
    padding: 10px 15px; 
    font-size: 16px; 
    border: 2px solid #ffffff; 
    border-radius: 5px; 
    font-family: "Oswald", serif;
}

.button_search{
    background-color: #ff6f61; 
    color: #fff; 
    border: none;
    border-radius: 5px; 
    padding: 3px 24px;
    font-family: "Oswald", serif;
    font-size: 20px; 
    font-weight: bold; 
}


.button_log {
    background-color: green; 
    color: #fff; 
    border: none;
    border-radius: 5px; 
    padding: 3px 24px;
    font-family: "Oswald", serif;
    font-size: 20px; 
    font-weight: bold; 
}
.button_reset{
    background-color: #1087f0; 
    color: #fff; 
    border: none;
    border-radius: 5px; 
    padding: 3px 24px;
    font-family: "Oswald", serif;
    font-size: 20px; 
    font-weight: bold; 
}

// ESTILO PARTE SERIES
.series{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin: 20px;
    font-family: "Oswald", serif;
}
// ESTILOS FAVORTIAS
.series_fav{
    border: 5px solid rgb(214, 132, 151);
    border-radius: 20px;
    background-color: black;
    display: flex;
    flex-direction: column;

    &_title{
        color: rgb(214, 132, 151);
        font-family: "Oswald", serif;
        text-align: center;
        padding: 10px;
    }
}


.favs_container{
    display:flex;
    flex-direction: row;
    font-family: "Oswald", serif;
}

.card_favorites{
    padding: 16px;
    margin: 16px;
    width: 200px;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    font-family: "Oswald", serif;
}

.card_img_favorites{
    max-width: 100%;
    height: auto;
 
}
.card_title_favorites{
    font-size: 18px;
    margin-top: 8px;
    color: #9d9d9d;
    font-family: "Oswald", serif;
}




// ESTILOS RESULTADOS
.series_results{
    border: 5px solid rgb(206, 232, 235);
    border-radius: 20px;
    background-color: black;
    display: flex;
    flex-direction: column;
    font-family: "Oswald", serif;
    

    &_title{
        color:rgb(206, 232, 235);
        text-align: center;
        padding: 10px;
        font-family: "Oswald", serif;
    }
}

.card {
    padding: 16px;
    margin: 16px;
    width: 200px;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    font-family: "Oswald", serif;
}
.card_img {
    max-width: 100%;
    height: auto;
 
}
.card_title {
    font-size: 18px;
    margin-top: 8px;
    color: #9d9d9d;
    font-family: "Oswald", serif;
}
.card_type{
    font-size: 18px;
    margin-top: 8px;
    color: #9d9d9d;
    font-family: "Oswald", serif;
}

// CLASES EXTRAS
.hidden{
    display: none;
}

.selectedCard{
    border: 5px solid rgb(214, 132, 151);
}

.selectedTitle {
    color: rgb(214, 132, 151);
    font-family: "Oswald", serif;
}

.delete_btn{
    background-color: red;
    border: none;
    border-radius: 50%; 
    color: white;
    font-size: 20px;
    font-weight: 400;
   
}